.createForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.formHeading{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}
.numberDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    color: var(--green);
    border-radius: 50%;
    border: 5px solid var(--green);
    height: 40px;
    width: 40px;
}
.personalInputs, .workExpInputs, .educationInputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.createForm input, .createForm textarea{
    width: 400px;
    height: 30px;
}
.createForm label{
    font-weight: bold;
}
.createForm textarea{
    height: 100px;
}
.removeBtn, .addBtn, .submitBtn{
    align-self: center;
    margin: 5px 0 10px 0;
    width: 150px;
    height: 30px;
}
.removeBtn{
    background-color: var(--removeBtn);
}
.removeBtn:hover, .removeBtn:active{
    background-color: var(--removeBtnHvr);
}
.submitBtn{
    height: 50px;
    width: 200px;
}
