.authCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    border-radius: 10px;
    background-image: var(--bgPattern);
}
.loginCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginCont p{
    margin-top: -5px;
    font-weight: bold;
}
.loginCont h2{
    color: var(--brownPink);
}
.authForm input{
    height: 30px;
}
.authForm button{
    height: 40px;
}
.authForm{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 300px;
}
.toggleLog{
    transition: 0.2s;
}
.toggleLog:hover{
    cursor: pointer;
    color: var(--green);
    transform: translateY(-2px);
}