.noUser{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-image: var(--bgPattern);
}
.noUser a{
    text-decoration: none;
}
.resume{
    background-image: var(--bgPattern);
}
.resume .resumeDisplay{
    background-color: #fff;
}