.homeTop {
    background-image: var(--bgPattern);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 58px;
    padding: 50px 0;
    min-height: 100vh;
}
.homeTop h1{
    font-size: 2.6em;
    text-align: center;
}
.homeTop ul li{
    margin: 20px 0;
    font-size: 1.5em;
}
.homeTop .download{
    margin-bottom: 30px;
}

@media (max-width:768px){
    .homeTop h1{
        font-size: 2.3em;
    }
    .homeTop ul li{
        font-size: 1.2em;
    }
}
