.homeTop {
    background-image: var(--bgPattern);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 58px;
    padding: 50px 0;
}
.homeTop h1{
    font-size: 2.6em;
}
.homeTop ul li{
    margin: 20px 0;
    font-size: 1.5em;
}
.homeTop .download{
    margin-bottom: 30px;
}