.logo{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    display: flex;
    gap: 5px;
    align-items: center;
}
.matrix{
    color: var(--green);
}
nav{
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid var(--darkGray);
}
nav a{
    text-decoration: none;
    color: var(--darkGray);
    padding: 0 8px;
    transition: 0.3s;
}
nav a:hover{
    color: var(--green);
    cursor: pointer;
}
nav button{
    border: 2px solid var(--green);
    background-color: var(--green);
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    transition: 0.3s;
}
nav button span{
    font-style: italic;
}
nav button:hover{
    background-color: transparent;
    border: var(--green) solid 2px;
    color: var(--darkGray);
    cursor: pointer;
}
nav button:hover span{
    color: var(--green);
}
