.resumesDisplay{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    place-content: center;
    padding: 50px 0;
}
.singleResumeDisp .resumeDisplay{
    height: 423px;
    width: 300px;
    padding: 0;
    font-size: 6px;
    border-radius: 10px;
}
.singleResumeDisp{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.singleResumeDisp .download{
    height: 50px;
    width: 150px;
    font-size: 1em;
}
.resumesDisplay .loading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.resumeBtns{
    display: flex;
    gap: 10px;
    align-items: center;
}
.resumeBtns button{
    height: 50px;
    width: 50px;
    background-color: var(--removeBtn);
}
.resumeBtns button:hover, .resumeBtns button:active{
    background-color: var(--removeBtnHvr);
}
.noResumeDisp{
    display: flex;
    align-items: center;
    justify-content: center;
}
.display .contactDisp p{
    color: #c6c7c6;
    font-size: 4px;
}
.display .contactDisp i{
    font-size: 4px;
}


@media (min-width: 650px) and (max-width: 1000px){
    .resumesDisplay{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 650px){
    .resumesDisplay{
        grid-template-columns: 1fr;
    }
}